<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/css/public.css" media="all">
</head>
<style>
    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:15px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md4" id="yygg">
                <div class="col-xs-6 col-md-4">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">1</span>
                                <h5>医院公告</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">1234</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4" id="yjpxtz">
                <div class="col-xs-6 col-md-4">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">3</span>
                                <h5>院级培训通知</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">1234</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4" id="kspxtz">
                <div class="col-xs-6 col-md-4">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">2</span>
                                <h5>科室培训通知</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">1234</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">4</span>
                                <h5>个人消息</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">1234</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<script src="__LAYUI__/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['layer','table','jquery'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts,
            table = layui.table;


        /*
        * 查看医院公告
        * */
        $('#yygg').on('click',function () {
            layer.open({
                title: '查看医院公告',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '../../index/tongzhi/look_yygg',
            })
        })

        /*
        * 查看院级培训通知
        * */
        $('#yjpxtz').on('click',function () {
            layer.open({
                title: '院级培训通知',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '../../index/tongzhi/look_yjpxtz',
            })
        })

        /*
        * 查看院级培训通知
        * */
        $('#kspxtz').on('click',function () {
            layer.open({
                title: '科室培训通知',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '../../index/tongzhi/look_kspxtz',
            })
        })

        /*$('#yygg').on('click',function () {
            layer.msg('医院公告', {
                time: 5000, //20s后自动关闭
                btn: ['发布公告', '查看公告'],
                yes:function(index,layero){
                    layer.open({
                        title: '发布公告',
                        type: 2,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: true,
                        area: ['100%', '100%'],
                        content: '../../index/tongzhi/add_yygg',
                    })
                },
                btn2:function (index,layero) {
                    title: '查看公告',
                        layer.open({
                            title: '查看公告',
                            type: 2,
                            shade: 0.2,
                            maxmin:true,
                            shadeClose: true,
                            area: ['100%', '100%'],
                            content: '../../index/tongzhi/look_yygg',
                        })
                }
            });
        })*/
    });
</script>
</body>
</html>